@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-6 text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4;
  }
  a {
    @apply text-blue-500 hover:text-blue-400;
  }
}
